// ---- resets ----
html,
body,
h1,
ul,
p{
  padding: 0;
  margin: 0;
}

// ---- variables ----
// primary colors
$primary-blue: hsl(220, 98%, 61%);
$primary-bg-gradient: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$light: #ffffff;

// light theme colors
$lt-vl-gray: hsl(0, 0%, 98%);
$lt-vl-grayish-blue: hsl(236, 33%, 92%);
$lt-l-grayish-blue: hsl(233, 11%, 84%);
$lt-d-grayish-blue: hsl(236, 9%, 61%);
$lt-vd-grayish-blue: hsl(235, 19%, 35%);

// dark theme colors
$dt-vd-blue: hsl(235, 21%, 11%);
$dt-vd-desaturated-blue: hsl(235, 24%, 19%);
$dt-l-grayish-blue: hsl(234, 39%, 85%);
$dt-l-grayish-blue-hover: hsl(236, 33%, 92%);
$dt-d-grayish-blue: hsl(234, 11%, 52%);
$dt-vd-grayish-blue: hsl(233, 14%, 35%);
$dt-vd-grayish-blue-hover: hsl(237, 14%, 26%);


// ---- screens ----
$mobile: 375px;
$desktop: 1440px;
