body{
  box-sizing: border-box;
}

.container-fluid{
  width: 100%;
  height: 100vh;
}

.attribution {
  font-size: 11px; text-align: center;
  margin-bottom: 0.5rem;
}
.attribution a {
  // color: hsl(228, 45%, 44%);
}
.bg-upper{
  height: fit-content;
  width: 100%;

  img {
    width: 100%;
    height: 16rem;
    object-fit: cover;
  }
}
.bg-bottom{
  min-height: calc(100vh - 16rem);
  height: 20rem;
  max-height: 100%;
  width: 100%;
  top: 16rem;

}
.rlt{
  position: relative;
}
.middle,
.bg-upper,
.bg-bottom{
  position: absolute;
}
.middle{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.bg-bottom{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
}
// ---------------- Main -----------------------
.container{
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 3rem 0;

  header{
    display: flex;
    justify-content: space-between;
    color: $light;
    margin: 1rem 0;
  }
}

//------ Buttons ---------
.theme-btn{
  border: none;
  background: none;
  cursor: pointer;

  .material-icons {
    color: $light;
  }
}

.todo-add-btn,
.todo-done-btn,
.todo-delete-btn{
  background: none;
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  cursor: pointer;
  position: relative;

  .material-icons{
    font-size: 20px;
    color: $dt-vd-grayish-blue;
  }
}

.todo-add-btn,
.todo-done-btn,{
  margin-right: 1rem;
}
.todo-delete-btn{
  border: none;

  .material-icons{
    font-size: 24px;
  }
}

.todo-done-btn::before{
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  border: double 2px transparent;
  border-radius: 50% !important;
  border-image-slice: 1;
  background-image: linear-gradient(transparent, transparent),radial-gradient(circle at top left, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-origin: border-box;
  background-clip: content-box, border-box;
  transform: scaleX(0.0001);
  transition: transform 250ms ease-in-out;
}
.todo-done-btn:hover::before{
  transform: scaleX(1);
}
.todo-done-btn:hover span{
  display: flex !important;
  color: $light;
  z-index: 5;
}
// ----------- Input and todo ------------
.todo-input{
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  margin: 1.5rem 0;

  input{
    padding: 0.5rem;
    width: 90%;
    border: none;
    background: transparent;
  }
}

// ----------------Todos-----------------------
.todos-container{
  border-radius: 0.5rem;

  .todos{
    overflow: auto;
    max-height: 50vh;
  }
  .todo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid;
    font-size: 16px;
  }
  .todo:first-child{
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .todo-left{
    display: flex;
    align-items: center;
  }
  .todo .todo-right{
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }
  .todo:hover .todo-right{
    opacity: 1;
  }
}


// -------------------Todos Footer---------------
.todos-footer{
  display: flex;
  justify-content: space-between;
  position: relative;


  .footer-details{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
  }
  .todo-nav{
    position: absolute;
    width: fit-content;
    top: 38%;
    bottom: 38%;
    right: 35%;
    left: 35%;
  }
  .count-uncompleted{
    display: flex;
    align-items: center;
  }
}


.count-uncompleted,
.todo-nav ul,
.clear-completed button{
  font-size: 14px;
  font-weight: 600;
}

.todo-nav ul,
.clear-completed button{
  cursor: pointer;
}

.todo-nav ul{
  list-style: none;
  display: flex;

  & li {
    margin-right: 1rem;
  }

  & li:last-child{
    margin-right: 0;
  }
}


.active-nav{
  color: $primary-blue;
}

.clear-completed button{
  background: none;
  border: none;
}


// ---------------- Generel --------------------

.theme-btn:focus,
.todo-add-btn:focus,
.todo-done-btn:focus,
.todo-delete-btn:focus,
.clear-completed button:focus,
.todo-input:focus{
  outline: none;
}

.todo-completed{
  .todo-text{
    text-decoration: line-through;
  }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $lt-vl-grayish-blue;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $lt-d-grayish-blue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $lt-vd-grayish-blue;
}
